body{
    font-family: 'Poppins', sans-serif; /*Poppins is a google font linked on the index.html, and sans-serif is a backup font*/
    background-color: #1c1d25;
}
section {
    background-color: hsla(188, 80%, 96%, 0.904);
}

.hero{
    background-color: #1c1d25; /* This class is inside a section so we inherited the height */
    height: 100vh; /*Viewport height 100 stands for 100% the viewport height*/
    color: white;
    font-size: 40px;
}

nav{
    display: flex; /*Because i want that the elements appear on one line rather than stack*/
    justify-content: space-between; /*For separate the logo (on the left) and the rest (on the right)*/
    padding-left:35px;
    padding-right: 35px;
    color: #8EE3C8;
}

.logo{
    color: white;
    font-size: 25px;
    padding-top: 15px; /*To match the margin top of the li items, those have space evenly, that's why have spacing on the top*/
    height: 50px;
    width: 50px;
}

ul{
    display: flex;
    list-style-type: none; /*To get rid of the bullet points of the links (home-about etc)*/
    width: 500px;
    justify-content: space-evenly; /*Space evenly = Same spacing before, between and after the elements/ Space around= Half space before and after, and in between the same space*/
    font-size: 25px;
}

li{
    text-decoration: none;  /*To get rid of the underlining of the links (home-about etc)*/
    cursor: pointer;
    user-select: none;  /*This is so the user can't accidently select the text of a button insted of just clicking it*/
}

.hero-main{
    display: flex;       /*Flex so it can adapt to different heights*/ 
    flex-direction: column;  /*So it turns it to a vertical layout*/
    justify-content: center; /*This is to separate them but, to make the a litle bit lower we add a margin*/
    height: 94vh; 
}
.hero-name{                  /*This class is to style both h1 (my name) and p (front-end developer) tag of the hero section*/
    padding-bottom: 100px;
    padding-right: 35px;
    padding-left: 35px;
}
.buttons{
    display: flex;
    gap: 25px;
    padding-left: 35px;
    padding-bottom: 200px;
}
.resume-button{
    font-size: 30px;
    width: 120px;
    height: 43px;
    background-color:#8EE3C8; 
    border-radius: 7px;        /*So the button is not a straight rectangle*/
    text-align: center;        /*To center horizontally the word "resume" inside the button*/
    display: table-cell;       /*To allow the vertical align property.*/ 
    vertical-align: middle; 
    color: #1c1d25;   /*This works with table cells. That's the reason of the previous line*/
    padding-left: 5px;
    padding-right: 5px; 
    position: relative; /*Respect normal flow, and accepts T/L/R/B to position*/
    cursor: pointer;    /*When it is hover, it changes the cursor to indicate its clickable*/
    user-select: none;  /*This is so the user can't accidently select the text of a button insted of just clicking it*/
}
.resume-button:hover{         /*This pseudo class selects the state of a selector, in this case for hover effect's purpose*/   
    background-color:#58595c; 
    color: #8EE3C8;
    transition: all 450ms ease-out;
}
.resume-button:active{         /*This pseudo class selects the state of a selector. In this case is for when gets clicked*/   
    background: #1c1d25;
    color: #8EE3C8;
    font-size: 27px;    /*This will generate the feeling its being pressed*/
}

h1{
    font-size: 80px;
}

p{
    font-size: 30px;
    font-weight: 450;
}

.social-media{
    display: flex;
    gap: 24px;
    font-size: 30px;
}

.linkedin{
    height: 33px;
    background-color: #8EE3C8;
    border-radius: 7px;
    padding: 5px;
    fill: cyan;
}
.linkedin:hover{         /*This pseudo class selects the state of a selector, in this case for hover effect's purpose*/   
    background-color:#fafafac5; 
    transition: all 450ms ease-out;
}
.linkedin:active{         /*This pseudo class selects the state of a selector. In this case is for when gets clicked*/   
    background: #8EE3C8;
    height: 27px;    /*This will generate the feeling its being pressed*/
}

.github{
    height: 33px;
    background-color: #8EE3C8;
    border-radius: 7px;
    padding: 5px;
}
.github:hover{         /*This pseudo class selects the state of a selector, in this case for hover effect's purpose*/   
    background-color:#fafafac5; 
    transition: all 450ms ease-out;
}
.github:active{         /*This pseudo class selects the state of a selector. In this case is for when gets clicked*/   
    background: #8EE3C8;
    height: 27px;    /*This will generate the feeling its being pressed*/
}
.about-section{
    display: flex;
    justify-content: space-between;
    padding: 35px 35px 20px 35px;
    gap: 20px;
}

.about-text{
    font-size: 8rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color: #1f1f1fc4;
    
}
h2{
    color: rgb(255, 255, 255);
    padding: 2px 10px;
    border-radius: 10px;
    background-color: #1f1f1f6e;
    
}
.about-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
}

.about-img{
    height:200px;
    width: 300px;
    border-radius: 5%;
}
h2 {
    font-size: 2.5rem;
}

footer{
    height: 500px;
    background-color: black;
}